[submodule "config/zmk-config-moNa2"]
	path = config/zmk-config-moNa2
	url = https://github.com/kot149/zmk-config-moNa2.git
[submodule "config/zmk-config-roBa"]
	path = config/zmk-config-roBa
	url = https://github.com/kot149/zmk-config-roBa.git
[submodule "config/zmk-config-LalaPad"]
	path = config/zmk-config-LalaPad
	url = https://github.com/kot149/zmk-config-LalaPad.git
[submodule "config/zmk-config-MKB2"]
	path = config/zmk-config-MKB2
	url = https://github.com/kot149/zmk-config-MKB2.git
[submodule "config/zmk-config-GeaconSolstice"]
	path = config/zmk-config-GeaconSolstice
	url = https://github.com/te9no/zmk-config-GeaconSolstice
